<template>
    <div>
        <p v-if="loading" class="text-center">Loading ....</p>
        <p class="text-center" v-if="!loading">
            <button class="btn btn-success" @click="add_friend" v-if="status === 0">Add to Friends</button>
            <button class="btn btn-success" @click="accept_friend" v-if="status === 'pending'">Accept Friend</button>
            <span v-if="status === 'waiting'">Waiting for response</span>
            <button class="btn btn-default" v-if="status === 'friends'">Friends</button>

        </p>
    </div>
</template>

<script>
    export default {
        props: ['profile_user_id'],
        mounted() {
            this.$http.get('/check_relationship_status/' + this.profile_user_id)
            .then( (resp) => {
                this.status = resp.body.status
                this.loading = false
            })
        },
        data(){
            return{
                status: "",
                loading: true
            }
        },
        methods: {
            add_friend() {
                this.loading = true
                this.$http.get('/add_friend/' + this.profile_user_id)
                    .then( (resp) => {
                        if(resp.body == 1){
                            this.status = "waiting"
                            show_message('Friend request sent', 'success')
                        }

                        this.loading = false
                    })
            },

            accept_friend() {
                this.loading = true
                this.$http.get('/accept_friend/' + this.profile_user_id)
                    .then( (resp) => {
                        if(resp.body == 1){
                            this.status = "friends"
                            show_message('You are now friends', 'success')
                        }
                        this.loading = false
                    })
            }

        }


    }

</script>
