<template>
    <div>
    </div>
</template>


<script>
    export default{
        mounted(){
            this.listen()
        },
        methods: {
            listen(){
                Echo.private('App.User.' + this.id)
                    .notification( (notification) => {
                        show_message(notification.name + notification.message, "success")
                        this.$store.commit('add_not', notification)
                    })
            }
        },
        props: ['id'],
        data(){
            return{
                msg:'hello vue'
            }
        },
    }
</script>
