<template>
    <li>
        <a href="/notifications">
            Unread notifications
            <span v-if="all_notes_count > 0" class="badge">{{ all_notes_count }}</span>
        </a>
    </li>
</template>

<script>

    export default{
        mounted(){
            this.get_unread()
        },

        methods: {
            get_unread(){
                this.$http.get('/get_unread')
                    .then( (nots) => {
                        nots.body.forEach( (not) => {
                            this.$store.commit('add_nots', not)
                        })
                    })
            }
        },

        computed:{
            all_notes_count(){
                return this.$store.getters.all_nots_count
            }

        }

        
    }
</script>
